* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  gap: 2em;
  text-align: center;
}

.form {
  background-color: blue;
  padding: 30px;
  width: 60%;
}
